<section class="control-panel">
    <div class="control-panel__group">
        <track-control @change="setSpeed" id="tc01" :initial-value=85></track-control>
    </div>

    <div class="control-panel__group">
        <control-button @click="play" :display-text='["Play", "Pause"]'>Play</control-button>
    </div>

    <div class="control-panel__group">
        <control-button @click="edit" :display-text='["Edit", "Done"]'>Edit</control-button>
        <control-button @click="clear">Clear</control-button>
        <control-button @click="reset">Reset</control-button>
    </div>

    <a class="logo noselect" href="https://ru.vuejs.org/v2/guide/" target="_blank">
        <img src="../../assets/logo.png" width="50" />
    </a>
</section>
